{% extends 'base.html' %}

{% block title %}Assign User{% endblock title %}

{% block content %}
    {% if error_message %}
        <div class="ui red message">
            <i class="close icon"></i>
            <div class="header">
                {{ error_message }}
            </div>
        </div>
    {% endif %}

    <h1>Assign Users To Movies</h1>
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table id="movie_user_table" class="display" style="width:100%">
          <thead>
            <tr>
                <th class="single line">Movie ID</th>
                <th class="single line">Movie Name</th>
                <th class="single line">Assigned User</th>
            </tr>
          </thead>
          <tbody>
            {% for form in formset %}
                {% if form.instance.movie_id %}
                    <tr>
                        {{ form.movie_id.as_hidden }}
                        {{ form.movie_name.as_hidden }}
                        <td>{{ form.instance.movie_id }}</td>
                        <td>{{ form.instance.movie_name }}</td>
                        <td>{{ form.movie_user }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
          </tbody>
        </table>
        <button name = "reset" type="submit" class="ui positive button">Reset Assignment</button>
        <button name = "assign" type="submit" class="ui positive button">Assign Users</button>
    </form>

{% endblock %}
